extends layouts 

block content
  div.videoContainer
    video(src="/"+video.fileUrl, controls)
    div.videoController
      span#playBtn
        i.fas.fa-play
      span#muteBtn
        i.fas.fa-volume-up
      span#currentTime 00:00
      span  / 
      span#totalTime 00:00
      input(type="range", min="0", step="1", value=0)#timeline
      input(type="range", min="0", step="0.1" max=1)#volume
      span#fullscreenBtn 
        i.fas.fa-expand
  h3=video.title
  h4=video.description
  h4=video.meta.views
  h4=video.createdAt

  if (String(video.owner) === String(loggedInUser._id))
    a(href=`/videos/${video._id}/edit`) 수정하기
    hr
    a(href=`/videos/${video._id}/delete`) 삭제하기

block scripts
  script(src="/static/js/videoController.js")